news.ycombinator.com##body:style(background-color: #000)
news.ycombinator.com##a:link:style(color: #ddd !important)
news.ycombinator.com##a:visited:style(color: #888 !important)
news.ycombinator.com##table#hnmain, table#hnmain td:style(background-color: #333 !important)
news.ycombinator.com##td.title:style(font-size:1em !important)
news.ycombinator.com##tr.spacer:style(height: 0.5em !important)
news.ycombinator.com##span.commtext:style(color: #ccc !important)

bloomberg.com##+js(cookie-remover, gatehouse_id, stay)
bloomberg.com##+js(aopr, localStorage)
bloomberg.com##+js(ra, data-paywall-overlay-status, body[data-paywall-overlay-status], stay)

forecast.weather.gov##header, nav, footer, #fcst-search, #point-forecast-map-label, #news-items, #quickLinks, #additional_forecasts, #additionalForecast:style(display: none !important)
forecast.weather.gov##body:style(background-color: #000 !important; color: #ddd !important)
forecast.weather.gov###getForecast #getfcst-head, #global_localnews_title, div.panel-heading, div#seven-day-forecast .forecast-tombstone .period-name:style(color: #ddd !important)
forecast.weather.gov##main, #basemap-selected:style(background-color: #222 !important)
forecast.weather.gov##div.panel-heading:style(background-image: none !important; background-color: #333 !important)
forecast.weather.gov##div.panel-body:style(background-color: #333 !important)
forecast.weather.gov##div.row-odd:style(background-color: #333 !important)
forecast.weather.gov##div.row-even:style(background-color: #444 !important)
forecast.weather.gov###current-conditions:style(margin-top: 10px !important)
forecast.weather.gov##.forecast-tombstone.current-hazard-watch:style(background-color: #666 !important)

www.wunderground.com##body, .mat-drawer-container, .inner-wrap, .region-content-top, section:style(background-color:#000 !important; color: #ddd !important)
www.wunderground.com##.dashboard__header, .module__container:style(background-color:#000 !important; color: #ddd !important)
www.wunderground.com##.region-content-top:style(padding-top: 0px !important; margin-bottom: 0px !important)
www.wunderground.com##.module__header:style(background-color:#222 !important; color: #ddd !important)
www.wunderground.com##.module__body:style(background-color:#333 !important; color: #ddd !important)
www.wunderground.com##lib-history:style(display: none !important)
www.wunderground.com##.module__body:style(margin: 0 !important)
www.wunderground.com##.topbar, lib-favorites, wu-footer:style(display: none)
www.wunderground.com##.region-content-top:style(border: none !important)
