news.ycombinator.com##body, table#hnmain, table#hnmain td:style(background-color: #202124 !important)
news.ycombinator.com##a:link:style(color: #8ab4f8 !important)
news.ycombinator.com##a:visited:style(color: #c58af9 !important)
news.ycombinator.com##td.title:style(font-size:20px !important; line-height:26px !important; font-family: Roboto,arial,sans-serif !important)
news.ycombinator.com##.toptext, .pagetop, .c00, span.subline:style(font-size:14px !important; color:#bdc1c6 !important)

wikipedia.org##body, .mwe-popups-container, .mw-page-container, .wikitable, .wikitable, .infobox, th:style(background-color: #202124 !important; color:#bdc1c6 !important)
wikipedia.org##h1, h2, h3, h4, h5, h6, .mw-footer li, .cdx-button:style(color:#bdc1c6 !important)
wikipedia.org##.ambox, .vector-header-container, .catlinks, .vector-toc, .sidebar, .navbox, .navbox-even, .navbox-group, .infobox-subheader, .side-box, .navbox-title:style(background-color: #202124 !important)
wikipedia.org##.cdx-text-input__input, .cdx-button, figcaption:style(background-color: #303134 !important)
wikipedia.org##.vector-toc::after:style(background: none !important)
wikipedia.org##a:link:style(color:#8ab4f8 !important)
wikipedia.org##a:visited:style(color:#c58af9 !important)

bloomberg.com##+js(cookie-remover, gatehouse_id, stay)
bloomberg.com##+js(aopr, localStorage)
bloomberg.com##+js(ra, data-paywall-overlay-status, body[data-paywall-overlay-status], stay)

instagram.com##._aagw

forecast.weather.gov##header, nav, footer, #fcst-search, #point-forecast-map-label, #news-items, #quickLinks, #additional_forecasts, #additionalForecast:style(display: none !important)
forecast.weather.gov##body:style(background-color: #000 !important; color: #ddd !important)
forecast.weather.gov###getForecast #getfcst-head, #global_localnews_title, div.panel-heading, div#seven-day-forecast .forecast-tombstone .period-name:style(color: #ddd !important)
forecast.weather.gov##main, #basemap-selected:style(background-color: #222 !important)
forecast.weather.gov##div.panel-heading:style(background-image: none !important; background-color: #333 !important)
forecast.weather.gov##div.panel-body:style(background-color: #333 !important)
forecast.weather.gov##div.row-odd:style(background-color: #333 !important)
forecast.weather.gov##div.row-even:style(background-color: #444 !important)
forecast.weather.gov###current-conditions:style(margin-top: 10px !important)
forecast.weather.gov##.forecast-tombstone.current-hazard-watch:style(background-color: #666 !important)

www.wunderground.com##body, div, span, td, .mat-table, a.selected, .ui-state-active a, section:style(background-color:#202124 !important; color:#bdc1c6 !important)
www.wunderground.com##th, th div, svg, .selected:style(background-color:#303134 !important)
www.wunderground.com##a:link:style(color: #8ab4f8 !important)
www.wunderground.com##.region-content-top:style(padding-bottom: 2px !important)
